/* ThemeMenu Style Sheet */
.ThemeMenubar {
  width:100%;
  border-collapse:collapse;
  border-spacing:0;
  padding-bottom:2px;
}
.ThemeMenubar td {
  padding:0;
}
.ThemeMenubackgr {
  background:#d0d0d0;
  border-bottom:1px solid #d0d0d0;
}
.ThemeMenu,
.ThemeMenubar a,
.ThemeMenubar td {
  color:#000;
}
.ThemeMenu,
.ThemeSubMenuTable {
  height:25px;
  padding:0;
  cursor:default;
  font:1em arial, verdana, sans-serif;
  vertical-align:middle;
  white-space:nowrap;
}
.ThemeMenu {
  text-align:right;
}
.ThemeSubMenu {
  position:absolute;
  background-color:#d0d0d0;
  border:1px solid #8c867b;
  padding:1px;
  overflow:visible;
  visibility:hidden;
  /*
     Netscape/Mozilla renders borders by increasing their z-index.
     The following line is necessary to cover any borders underneath
  */
  z-index:100;
}
.ThemeSubMenuTable {
  overflow:visible;
}
.ThemeMainItem,
.ThemeMainItemActive,
.ThemeMainItemHover,
.ThemeMenuItem,
.ThemeMenuItemActive,
.ThemeMenuItemHover {
  border:0;
  cursor:default;
  white-space:nowrap;
}
.ThemeMenuItem {
  background-color:#d0d0d0;
}
.ThemeMainItemActive,
.ThemeMainItemHover,
.ThemeMenuItemActive,
.ThemeMenuItemHover {
  background-color:#c0c0c0;
}
/* horizontal main menu */
.ThemeMainItem {
  border:0;
  padding:1px;
}
td.ThemeMainItemActive,
td.ThemeMainItemHover {
  border:1px solid #fff;
  padding:0;
}
.ThemeMainFolderLeft,
.ThemeMainFolderRight,
.ThemeMainFolderText,
.ThemeMainItemLeft,
.ThemeMainItemRight,
.ThemeMainItemText {
  background-color:inherit;
}
/* vertical main menu sub components */
td.ThemeMainFolderLeft,
td.ThemeMainItemLeft {
  background-color:inherit;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
  border-left:1px solid #fff;
  padding:2px 2px 2px 0;
}
td.ThemeMainFolderText,
td.ThemeMainItemText {
  background-color:inherit;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
  padding:2px 5px;
  white-space:nowrap;
}
td.ThemeMainFolderRight,
td.ThemeMainItemRight {
  background-color:inherit;
  border-top:1px solid #fff;
  border-right:1px solid #fff;
  border-bottom:1px solid #fff;
  padding:2px 0;
}
tr.ThemeMainItem td.ThemeMainFolderLeft,
tr.ThemeMainItem td.ThemeMainItemLeft {
  background-color:inherit;
  border:0;
  padding:3px 2px 3px 1px;
  white-space:nowrap;
}
tr.ThemeMainItem td.ThemeMainFolderText,
tr.ThemeMainItem td.ThemeMainItemText {
  background-color:inherit;
  border:0;
  padding:3px 5px;
}
tr.ThemeMainItem td.ThemeMainFolderRight,
tr.ThemeMainItem td.ThemeMainItemRight {
  background-color:inherit;
  border:0;
  padding:3px 1px 3px 0;
}
/* sub menu sub components */
.ThemeMenuFolderLeft,
.ThemeMenuItemLeft {
  background-color:inherit;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
  border-left:1px solid #fff;
  padding:2px 3px 2px 1px;
  white-space:nowrap;
}
.ThemeMenuFolderText,
.ThemeMenuItemText {
  background-color:inherit;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
  padding:2px 5px;
  white-space:nowrap;
}
.ThemeMenuFolderRight,
.ThemeMenuItemRight {
  background-color:inherit;
  border-top:1px solid #fff;
  border-right:1px solid #fff;
  border-bottom:1px solid #fff;
  padding:2px 0;
  white-space:nowrap;
}
.ThemeMenuItem .ThemeMenuFolderLeft,
.ThemeMenuItem .ThemeMenuItemLeft {
  background-color:#c0c0c0;
  border:0;
  padding:3px 3px 3px 2px;
  white-space:nowrap;
}
.ThemeMenuItem .ThemeMenuFolderText,
.ThemeMenuItem .ThemeMenuItemText {
  background-color:inherit;
  border:0;
  padding:3px 5px;
}
.ThemeMenuItem .ThemeMenuFolderRight,
.ThemeMenuItem .ThemeMenuItemRight {
  background-color:inherit;
  border:0;
  padding:3px 1px 3px 0;
}
/* menu splits */
.ThemeMenuSplit {
  height:1px;
  background-color:inherit;
  margin:2px;
  border-top:1px solid #8c867b;
  overflow:hidden;
}
/* image shadow animation */
/*
  seq1:image for normal
  seq2:image for hover and active
  To use, in the icon field, input the following:
  <img class="seq1" src="normal.gif"><img class="seq2" src="hover.gif">
*/
.ThemeMenuItem img.seq1,
.ThemeMenuItemActive seq2,
.ThemeMenuItemHover seq2 {
  display:inline;
}
.ThemeMenuItem .seq2,
.ThemeMenuItemActive .seq1,
.ThemeMenuItemHover .seq1 {
  display:none;
}
