.ThemeMenubackgr {
  background:#e7e9ea url(../../../gradient.php?base=e7e9ea&height=25) repeat scroll 0;
  border-bottom-color:#ccc;
}
.ThemeMenuItem,
.ThemeSubMenu {
  background-color:#f9f8f7;
}
.ThemeMainItemActive,
.ThemeMainItemHover,
.ThemeMenuItemActive,
.ThemeMenuItemHover {
  background-color:#b6bdd2;
}
.ThemeMenuItem .ThemeMenuFolderLeft,
.ThemeMenuItem .ThemeMenuItemLeft {
/*
  background-color:#dde1e6;
*/
  background:#e0e2eb url(../../../gradient.php?base=e0e2eb&width=25&direction=180) repeat scroll 0;
}
.ThemeMenuFolderLeft,
.ThemeMenuFolderRight,
.ThemeMenuFolderText,
.ThemeMenuItemLeft,
.ThemeMenuItemRight,
.ThemeMenuItemText,
td.ThemeMainFolderLeft,
td.ThemeMainFolderRight,
td.ThemeMainFolderText,
td.ThemeMainItemActive,
td.ThemeMainItemHover,
td.ThemeMainItemLeft,
td.ThemeMainItemRight,
td.ThemeMainItemText {
  border-color:#000080;
}
.ThemeMenuSplit {
  border-color:#c6c3bd;
}
