bump_version.sh
docker
docs/event_status.gif
docs/extractfaqs.pl
docs/faqs.html
docs/Makefile
docs/php2html.pl
docs/README
docs/sql2html.pl
docs/WebCalendar-Database.html
docs/WebCalendar-DeveloperGuide.html
docs/WebCalendar-Functions.html
docs/WebCalendar-Styling.html
docs/WebCalendar-UserManual.html
*.git
*.gitignore
includes/settings.php
java
Makefile
sqlite-data
release-files
tests
TODO
vendor
ws
