.git
.gitignore
bump_version.sh
docker

# ignore all docs/
docs
# except these 2
!docs/newwin.gif
!docs/WebCalendar-SysAdmin.html

includes/settings.php
java
Makefile
release-files
sqlite-data
tests
TODO
vendor
ws
