.DS_Store
.htaccess
*.min.*
*.orig
*.save
*.sha
includes/classes/captcha/
includes/classes/hKit/
includes/classes/phpmailer/
includes/htmlare*
includes/settings.php
java/
mysql-data
node_modules/
pub/
tests/
vendor/
wc-icons/
