.ThemeMenuItem,
.ThemeMenubackgr,
.ThemeSubMenu {
  background-color:#f1f3f5;
}
.ThemeMainItemActive,
.ThemeMainItemHover,
.ThemeMenuItemActive,
.ThemeMenuItemHover {
  background-color:#b6bdd2;
}
.ThemeMenuItem .ThemeMenuFolderLeft,
.ThemeMenuItem .ThemeMenuItemLeft {
  background-color:#dde1e6;
}
.ThemeMenubackgr {
  border-bottom-color:#ccc;
}
.ThemeSubMenu {
  border-color:#8c867b;
}
.ThemeMenuFolderLeft,
.ThemeMenuFolderRight,
.ThemeMenuFolderText,
.ThemeMenuItemLeft,
.ThemeMenuItemRight,
.ThemeMenuItemText,
td.ThemeMainFolderLeft,
td.ThemeMainFolderRight,
td.ThemeMainFolderText,
td.ThemeMainItemActive,
td.ThemeMainItemHover,
td.ThemeMainItemLeft,
td.ThemeMainItemRight,
td.ThemeMainItemText {
  border-color:#000080;
}
.ThemeMenuSplit {
  border-color:#c6c3bd;
}
