<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
	<coverage>
		<include>
			<directory suffix=".php">../../src</directory>
		</include>
		<report>
			<html outputDirectory="./_coverage" lowUpperBound="35" highLowerBound="70"/>
			<text outputFile="php://stdout" showUncoveredFiles="true"/>
		</report>
	</coverage>
	<testsuites>
		<testsuite name="Functional Tests">
			<directory suffix="Test.php">.</directory>
		</testsuite>
	</testsuites>
	<logging/>
</phpunit>
