// $Id$

body {
  background-image:url( images/kn5.jpg );
  background-repeat:no-repeat;
}
p {
  margin:.0625em;
  color:#333;
}
#creds {
/* mandatory */
  position:relative;
  overflow:hidden;
/* required but, change to suit */
  width:100%;
  height:16em;
/* all below optional */
  background:#def;
/*
  margin:.25em;
*/
  border:.5em solid #def;
/*  padding:.25em 5px .25em .25em; */
  font-weight:bold;
  font-size:16px;
}
.Vscroll {
/* mandatory */
  position:absolute;
/* change to suit */
  left:4px;
}
h2 {
  margin:0;
}
form {
  margin:1em 0;
  text-align:center;
}
input {
  margin:0 1em;
}
