#creds {
/* mandatory */
  position:relative;
  overflow:hidden;
/* required but, change to suit */
  inline-size: 100%;
  block-size: 16em;
/* optional */
  margin-block-start: 5px;
  border: 1px solid #a0a0a0;
  font-weight:bold;
  font-size:16px;
}
.Vscroll {
/* mandatory */
  position:absolute;
/* change to suit */
  inset-inline-start: 4px;
}
h2 {
  margin:0;
}
form {
  margin:1em 0;
  text-align:center;
}
input {
  margin:0 1em;
}
