// $Id: about.css,v 1.2 2009/11/13 15:23:00 bbannon Exp $

#creds {
/* mandatory */
  position:relative;
  overflow:hidden;
/* required but, change to suit */
  width:100%;
  height:16em;
/* optional */
/*
  margin:.25em;
*/
  border:.5em solid #def;
/*  padding:.25em 5px .25em .25em; */
  background:#c0c0c0;
  font-weight:bold;
  font-size:16px;
}
#credsin {
  background:#c0c0c0;
}
.Vscroll {
/* mandatory */
  position:absolute;
/* change to suit */
  left:4px;
}
h2 {
  margin:0;
}
form {
  margin:1em 0;
  text-align:center;
}
input {
  margin:0 1em;
}
