// $Id$

div.minicalcontainer {
  border:1px solid #000;
}
div.minicalcontainer,
.monthnav th {
  padding:.1875em;
}
div.minicalcontainer,
.glance td {
  vertical-align:top;
}
dl.desc,
dl.desc dd,
.monthnav .next img,
.monthnav .prev img {
  margin:0;
}
dl.desc,
.glance td {
  padding:0;
}
dl.desc {
  display:none;
}
dl.desc dd {
  padding-left:1.25em;
}
dl.desc dt,
.minical caption,
.title .user,
.title .date {
  font-weight:bold;
}
table:first-of-type td {
  padding:1px;
}
.glance {
  width:100%;
  border-right:1px solid;
  border-bottom:1px solid;
}
.glance th.row ,
.glance td{
  height:2.5em;
}
.glance th.empty,
.glance th.row,
.glance td {
  border-top:1px solid;
  border-left:1px solid;
}
.glance th.row {
  width:14%;
  vertical-align:middle;
}
.glance td {
  width:86%;
  padding-left:.1875em;
}
.main th.empty {
  width:1%;
  background:transparent;
  border-top:0;
  border-left:0;
}
.minical caption {
  margin-right:auto;
  margin-left:auto;
  font-size:2.9375em;
}
.minical td.selectedday {
  border:.125em solid;
}
.monthnav th {
  border:0;
}
.monthnav th,
.title {
  text-align:center;
}
.next img,
.prev img {
  margin-top:2.3125em;
}
.title {
  margin-top:.1875em;
}
.title .date {
  font-size:1.5em;
}
.title .user {
  font-size:1.125em;
}
