.ThemeMenubackgr {
  background:#a1c0f5;
  border-bottom-color:#ccc;
}
.ThemeMenu,
.ThemeSubMenuTable {
  font:1em verdana, arial, sans-serif;
}
.ThemeSubMenu {
  background:#f5f5f5 url(menubg.gif) repeat scroll 0;
  border-color:#002d96;
  padding:2px 1px;
}
.ThemeMainItem {
  background-color:#a1c0f5;
}
.ThemeMainItemActive,
.ThemeMainItemHover {
  background:url(mainmenubg.gif);
}
.ThemeMenuItem,
.ThemeMenuItem .ThemeMenuFolderLeft,
.ThemeMenuItem .ThemeMenuItemLeft {
  background-color:transparent;
}
.ThemeMenuItemActive,
.ThemeMenuItemHover {
  background-color:#ffeec2;
}
.ThemeMenuFolderLeft,
.ThemeMenuFolderRight,
.ThemeMenuFolderText,
.ThemeMenuItemLeft,
.ThemeMenuItemRight,
.ThemeMenuItemText,
td.ThemeMainFolderLeft,
td.ThemeMainFolderRight,
td.ThemeMainFolderText,
td.ThemeMainItemActive,
td.ThemeMainItemHover,
td.ThemeMainItemLeft,
td.ThemeMainItemRight,
td.ThemeMainItemText {
  border-color:#000080;
}
td.ThemeMainFolderLeft,
td.ThemeMainItemLeft {
  padding:0 2px 0 0;
}
td.ThemeMainFolderText,
td.ThemeMainItemText {
  padding:0 5px;
}
td.ThemeMainFolderRight,
td.ThemeMainItemRight {
  padding:0;
}
tr.ThemeMainItem td.ThemeMainFolderLeft,
tr.ThemeMainItem td.ThemeMainItemLeft {
  padding:1px 2px 1px 1px;
}
tr.ThemeMainItem td.ThemeMainFolderText,
tr.ThemeMainItem td.ThemeMainItemText {
  padding:1px 5px;
}
tr.ThemeMainItem td.ThemeMainFolderRight,
tr.ThemeMainItem td.ThemeMainItemRight {
  background-color:inherit;
  border:0;
  padding:1px 1px 1px 0;
}
.ThemeMenuSplit {
  border-color:#6a8ccb;
}
