.titlecontainer {
    display: flex;           /* Use flexbox layout */
    align-items: center;     /* Center items vertically */
}

.titlecontainer img {
    margin-inline-end: 20px; /* Space between image and text */
    display: block;          /* Remove any default spacing below the image */
}

.heading {
    margin: 0;              /* Remove default margins from h1 */
    /* Additional styles for your h1 if needed */
}

li {
    display: flex;           /* Use flexbox layout */
    align-items: center;     /* Center items vertically */
    margin-block-end: 0.3em;
}

li img {
    display: block;          /* Remove any default spacing below the image */
    margin-inline-end: 10px; /* Space between text and image */
}
