/* ThemeMenu Style Sheet */

.ThemeMenubar {
  width:100%;
  padding-bottom:2px;
}

.ThemeMenubackgr {
  border-bottom:1px solid #cccccc;
  background:#0c9;
}

.ThemeMenu, .ThemeMenubar a, .ThemeMenubar td {
  color:#000;
}

.ThemeMenu, .ThemeSubMenuTable {
  height:25px;
  padding:0;
  cursor:default;
  font:1em arial, verdana, sans-serif;
  vertical-align:middle;
  white-space:nowrap;
}

.ThemeSubMenu {
  position:absolute;
  border:1px solid #8c867b;
  padding:1px;
  background-color:#0c9;
  overflow:visible;
  visibility:hidden;
  /*
     Netscape/Mozilla renders borders by increasing their z-index.
     The following line is necessary to cover any borders underneath
  */
  z-index:100;
}

.ThemeSubMenuTable {
  overflow:visible;
}

.ThemeMainItem, .ThemeMainItemHover, .ThemeMainItemActive,
.ThemeMenuItem, .ThemeMenuItemHover, .ThemeMenuItemActive {
  border:0;
  cursor:default;
  white-space:nowrap;
}

.ThemeMenuItem {
  background-color:#0c9;
}

.ThemeMainItemHover, .ThemeMainItemActive,
.ThemeMenuItemHover, .ThemeMenuItemActive {
  background-color:#ff6;
}

/* horizontal main menu */

.ThemeMainItem {
  border:0;
  padding:1px;
}

td.ThemeMainItemHover, td.ThemeMainItemActive {
  border:1px solid #690;
  padding:0;
}

.ThemeMainFolderLeft, .ThemeMainItemLeft,
.ThemeMainFolderText, .ThemeMainItemText,
.ThemeMainFolderRight, .ThemeMainItemRight {
  background-color:inherit;
}

/* vertical main menu sub components */

td.ThemeMainFolderLeft, td.ThemeMainItemLeft {
  border-top:1px solid #690;
  border-bottom:1px solid #690;
  border-left:1px solid #690;
  padding:2px 2px 2px 0;
  background-color:inherit;
}

td.ThemeMainFolderText, td.ThemeMainItemText {
  border-top:1px solid #690;
  border-bottom:1px solid #690;
  padding:2px 5px;
  background-color:inherit;
  white-space:nowrap;
}

td.ThemeMainFolderRight, td.ThemeMainItemRight {
  border-top:1px solid #690;
  border-right:1px solid #690;
  border-bottom:1px solid #690;
  padding:2px 0;
  background-color:inherit;
}

tr.ThemeMainItem td.ThemeMainFolderLeft,
tr.ThemeMainItem td.ThemeMainItemLeft {
  border:0;
  padding:3px 2px 3px 1px;
  background-color:inherit;
  white-space:nowrap;
}

tr.ThemeMainItem td.ThemeMainFolderText,
tr.ThemeMainItem td.ThemeMainItemText {
  border:0;
  padding:3px 5px;
  background-color:inherit;
}

tr.ThemeMainItem td.ThemeMainItemRight,
tr.ThemeMainItem td.ThemeMainFolderRight {
  border:0;
  padding:3px 1px 3px 0;
  background-color:inherit;
}

/* sub menu sub components */

.ThemeMenuFolderLeft, .ThemeMenuItemLeft {
  border-top:1px solid #690;
  border-bottom:1px solid #690;
  border-left:1px solid #690;
  padding:2px 3px 2px 1px;
  background-color:inherit;
  white-space:nowrap;
}

.ThemeMenuFolderText, .ThemeMenuItemText {
  border-top:1px solid #690;
  border-bottom:1px solid #690;
  padding:2px 5px;
  background-color:inherit;
  white-space:nowrap;
}

.ThemeMenuFolderRight, .ThemeMenuItemRight {
  border-top:1px solid #690;
  border-right:1px solid #690;
  border-bottom:1px solid #690;
  padding:2px 0;
  background-color:inherit;
  white-space:nowrap;
}

.ThemeMenuItem .ThemeMenuFolderLeft,
.ThemeMenuItem .ThemeMenuItemLeft {
  border:0;
  padding:3px 3px 3px 2px;
  background-color:#9f9;
  white-space:nowrap;
}

.ThemeMenuItem .ThemeMenuFolderText,
.ThemeMenuItem .ThemeMenuItemText {
  border:0;
  padding:3px 5px;
  background-color:inherit;
}

.ThemeMenuItem .ThemeMenuFolderRight,
.ThemeMenuItem .ThemeMenuItemRight {
  border:0;
  padding:3px 1px 3px 0;
  background-color:inherit;
}

/* menu splits */

.ThemeMenuSplit {
  height:1px;
  margin:2px;
  border-top:1px solid #c6c3bd;
  background-color:inherit;
  overflow:hidden;
}

/* image shadow animation */

/*
  seq1:image for normal
  seq2:image for hover and active

  To use, in the icon field, input the following:
  <img class="seq1" src="normal.gif" /><img class="seq2" src="hover.gif" />
*/

.ThemeMenuItem img.seq1,
.ThemeMenuItemHover seq2,
.ThemeMenuItemActive seq2 {
  display:inline;
}

.ThemeMenuItem .seq2,
.ThemeMenuItemHover .seq1,
.ThemeMenuItemActive .seq1 {
  display:none;
}
