.ThemeMenubackgr {
  background:#0c9;
  border-bottom-color:#ccc;
}
.ThemeMenuItem,
.ThemeSubMenu {
  background-color:#0c9;
}
.ThemeMainItemActive,
.ThemeMainItemHover,
.ThemeMenuItemActive,
.ThemeMenuItemHover {
  background-color:#ff6;
}
.ThemeMenuItem .ThemeMenuFolderLeft,
.ThemeMenuItem .ThemeMenuItemLeft {
  background-color:#9f9;
}
.ThemeMenuFolderLeft,
.ThemeMenuFolderRight,
.ThemeMenuFolderText,
.ThemeMenuItemLeft,
.ThemeMenuItemRight,
.ThemeMenuItemText,
td.ThemeMainFolderLeft,
td.ThemeMainFolderRight,
td.ThemeMainFolderText,
td.ThemeMainItemActive,
td.ThemeMainItemHover,
td.ThemeMainItemLeft,
td.ThemeMainItemRight,
td.ThemeMainItemText {
  border-color:#690;
}
.ThemeMenuSplit {
  border-color:#c6c3bd;
}
