.ThemeMenuItem,
.ThemeMenubackgr,
.ThemeSubMenu {
  background-color:#fcf681;
}
.ThemeMainItemActive,
.ThemeMainItemHover,
.ThemeMenuItemActive,
.ThemeMenuItemHover {
  background-color:#f63;
}
.ThemeMenuItem .ThemeMenuFolderLeft,
.ThemeMenuItem .ThemeMenuItemLeft {
  background-color:#f4dd65;
}
.ThemeMenubackgr {
  border-bottom-color:#f5e169;
}
.ThemeMenuFolderLeft,
.ThemeMenuFolderRight,
.ThemeMenuFolderText,
.ThemeMenuItemLeft,
.ThemeMenuItemRight,
.ThemeMenuItemText,
td.ThemeMainFolderLeft,
td.ThemeMainFolderRight,
td.ThemeMainFolderText,
td.ThemeMainItemActive,
td.ThemeMainItemHover,
td.ThemeMainItemLeft,
td.ThemeMainItemRight,
td.ThemeMainItemText {
  border-color:#000;
}
