/* ThemeMenu Style Sheet */

.ThemeMenubar {
  width: 100%;
  padding-bottom:  2px;
}

.ThemeMenubackgr {
  background: #FCF681;
  border-bottom: 1px solid #F5E169;
}

.ThemeMenu, .ThemeMenubar a, .ThemeMenubar td {
  color: #000000;
}

.ThemeMenu,.ThemeSubMenuTable {
  font-family:  arial, verdana, sans-serif;
  font-size:  1em;
  padding:  0;
  white-space:  nowrap;
  cursor:    default;
  height: 25px;
  vertical-align:middle;
}

.ThemeSubMenu {
  position:  absolute;
  visibility:  hidden;
  /*
     Netscape/Mozilla renders borders by increasing
     their z-index.  The following line is necessary
     to cover any borders underneath
  */
  z-index:  100;
  border:    0;
  padding:  1px;
  background-color:  #FCF681;
  overflow:  visible;
  border:    1px solid #8C867B;
}

.ThemeSubMenuTable {
  overflow:  visible;
}

.ThemeMainItem,.ThemeMainItemHover,.ThemeMainItemActive,
.ThemeMenuItem,.ThemeMenuItemHover,.ThemeMenuItemActive {
  border:    0;
  cursor:    default;
  white-space:  nowrap;
}

.ThemeMainItem {
  /*  jgh - no longer needed
  background-color:  #EFEBDE;
  */
}

.ThemeMainItemHover,.ThemeMainItemActive {
  background-color:  #FF6633;
}

.ThemeMenuItem {
  background-color:  #FCF681;
}

.ThemeMenuItemHover,.ThemeMenuItemActive {
  background-color:  #FF6633;
}

/* horizontal main menu */

.ThemeMainItem {
  padding: 1px;
  border: 0;
}

td.ThemeMainItemHover,td.ThemeMainItemActive {
  padding:  0px;
  border:  1px solid #000000;
}

.ThemeMainFolderLeft,.ThemeMainItemLeft,
.ThemeMainFolderText,.ThemeMainItemText,
.ThemeMainFolderRight,.ThemeMainItemRight {
  background-color:  inherit;
}

/* vertical main menu sub components */

td.ThemeMainFolderLeft,td.ThemeMainItemLeft {
  padding-top:  2px;
  padding-bottom:  2px;
  padding-left:  0px;
  padding-right:  2px;
  border-top:  1px solid #000000;
  border-bottom:  1px solid #000000;
  border-left:  1px solid #000000;
  background-color:  inherit;
}

td.ThemeMainFolderText,td.ThemeMainItemText {
  padding-top:  2px;
  padding-bottom:  2px;
  padding-left:  5px;
  padding-right:  5px;
  border-top:  1px solid #000000;
  border-bottom:  1px solid #000000;
  background-color:  inherit;
  white-space:  nowrap;
}

td.ThemeMainFolderRight,td.ThemeMainItemRight {
  padding-top:  2px;
  padding-bottom:  2px;
  padding-left:  0px;
  padding-right:  0px;
  border-top:  1px solid #000000;
  border-bottom:  1px solid #000000;
  border-right:  1px solid #000000;
  background-color:  inherit;
}

tr.ThemeMainItem td.ThemeMainFolderLeft,
tr.ThemeMainItem td.ThemeMainItemLeft {
  padding-top:  3px;
  padding-bottom:  3px;
  padding-left:  1px;
  padding-right:  2px;
  white-space:  nowrap;
  border:    0;
  background-color:  inherit;
}

tr.ThemeMainItem td.ThemeMainFolderText,
tr.ThemeMainItem td.ThemeMainItemText {
  padding-top:  3px;
  padding-bottom:  3px;
  padding-left:  5px;
  padding-right:  5px;
  border:    0;
  background-color:  inherit;
}

tr.ThemeMainItem td.ThemeMainItemRight,
tr.ThemeMainItem td.ThemeMainFolderRight {
  padding-top:  3px;
  padding-bottom:  3px;
  padding-left:  0px;
  padding-right:  1px;
  border:    0;
  background-color:  inherit;
}

/* sub menu sub components */

.ThemeMenuFolderLeft,.ThemeMenuItemLeft {
  padding-top:  2px;
  padding-bottom:  2px;
  padding-left:  1px;
  padding-right:  3px;
  border-top:  1px solid #000000;
  border-bottom:  1px solid #000000;
  border-left:  1px solid #000000;
  background-color:  inherit;
  white-space:  nowrap;
}

.ThemeMenuFolderText,.ThemeMenuItemText {
  padding-top:  2px;
  padding-bottom:  2px;
  padding-left:  5px;
  padding-right:  5px;
  border-top:  1px solid #000000;
  border-bottom:  1px solid #000000;
  background-color:  inherit;
  white-space:  nowrap;
}

.ThemeMenuFolderRight,.ThemeMenuItemRight {
  padding-top:  2px;
  padding-bottom:  2px;
  padding-left:  0px;
  padding-right:  0px;
  border-top:  1px solid #000000;
  border-bottom:  1px solid #000000;
  border-right:  1px solid #000000;
  background-color:  inherit;
  white-space:  nowrap;
}

.ThemeMenuItem .ThemeMenuFolderLeft,
.ThemeMenuItem .ThemeMenuItemLeft {
  padding-top:  3px;
  padding-bottom:  3px;
  padding-left:  2px;
  padding-right:  3px;
  white-space:  nowrap;
  border:   0px;
  background-color:  #F4DD65;
}

.ThemeMenuItem .ThemeMenuFolderText,
.ThemeMenuItem .ThemeMenuItemText {
  padding-top:  3px;
  padding-bottom:  3px;
  padding-left:  5px;
  padding-right:  5px;
  border:    0px;
  background-color:  inherit;
}

.ThemeMenuItem .ThemeMenuFolderRight,
.ThemeMenuItem .ThemeMenuItemRight {
  padding-top:  3px;
  padding-bottom:  3px;
  padding-left:  0px;
  padding-right:  1px;
  border:    0;
  background-color:  inherit;
}

/* menu splits */

.ThemeMenuSplit {
  margin:    2px;
  height:    1px;
  overflow:  hidden;
  background-color:  inherit;
  border-top:  1px solid #8C867B;
}

/* image shadow animation */

/*
  seq1:  image for normal
  seq2:  image for hover and active

  To use, in the icon field, input the following:
  <img class="seq1" src="normal.gif" /><img class="seq2" src="hover.gif" />
*/

.ThemeMenuItem img.seq1 {
  display:  inline;
}

.ThemeMenuItemHover seq2,
.ThemeMenuItemActive seq2 {
  display:  inline;
}

.ThemeMenuItem .seq2,
.ThemeMenuItemHover .seq1,
.ThemeMenuItemActive .seq1 {
  display:  none;
}
