name: Publish Dev Docker Image

on:
  push:
    branches:
      - master

jobs:
  push_dev_to_registry:
    name: Push Development Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract Commit Hash
        id: extract_hash
        run: echo "::set-output name=hash::$(git rev-parse --short HEAD)"

      - name: Get WebCalendar Version
        run: echo "WEBCALENDAR_VERSION=$(./bump_version.sh -p)" >> $GITHUB_ENV

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./docker/Dockerfile-php8
          push: true
          tags: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/webcalendar:${{ env.WEBCALENDAR_VERSION }}-${{ steps.extract_hash.outputs.hash }}-php8-apache-dev
            ${{ secrets.DOCKER_HUB_USERNAME }}/webcalendar:dev-php8-apache
            ${{ secrets.DOCKER_HUB_USERNAME }}/webcalendar:dev

