name: Publish Docker image

on:
  push:
    branches: [ release ]
  release:
    types: [ published ]

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Extract WebCalendar Version
        id: extract_version
        run: echo "::set-output name=version::$(./bump_version.sh -p)"

      - name: Log in to Docker Hub
        uses: docker/login-action@v3 
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile-php8
          push: true
          tags: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/webcalendar:${{ steps.extract_version.outputs.version }}-php8-apache
            ${{ secrets.DOCKER_HUB_USERNAME }}/webcalendar:latest-php8-apache
            ${{ secrets.DOCKER_HUB_USERNAME }}/webcalendar:latest
